<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ shared.logo }}">
    {% for css in shared.css %}
    <link rel="stylesheet" href="{{ css }}">
    {% endfor %}
    {# TODO @mark: replace by local version #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>{% block title %}Home{% endblock title %} - Webrust demo</title>
</head>
<body>
<div class="container">
    {#<header>WebRust Demo</header>#}
    <nav>
        <ul>
            <li><a href="http://{{ shared.base_url }}" title="{{ shared.base_url }}"><img style="height: 2em;" src="{{ shared.logo }}" alt="{{ shared.base_url }}" /></a></li>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer><p>webrust demo</p></footer>
</div>
</body>
</html>
