{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h1>{% if is_err %}⚠️{% endif %} {{ title }}</h1>
<p>{{ message }}</p>
<p>Do you want to <a href="{{ shared.base_url }}">return to the main page</a>?</p>
<dialog open>
    <article>
        <h3>{% if is_err %}⚠️{% endif %} {{ title }}</h3>
        <p>{{ message }}</p>
        <footer>
            <a href="#" onclick="history.back()" role="button" class="secondary">Back</a>
            <a href="{{ shared.base_url }}" role="button">Main page</a>
        </footer>
    </article>
</dialog>
{% endblock content %}
